xml_tei/Kanor - ODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
   xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
   xmlns:s="http://purl.oclc.org/dsdl/schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Roman de Kanor - ODD Modifié</title>
         </titleStmt>
         <publicationStmt>
            <authority>UniGE (Université de Genève, Suisse)</authority>
            <authority>Lyon-II (Université Lumière-Lyon-II, France)</authority>
            <availability status="restricted">
               <licence>Usage pour les membres de l'équipe.</licence>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <p>...</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <div>
            <head> L'ODD Modifié </head>
            <schemaSpec ident="septSages" start="TEI">

               <!-- Modules existants -->
               <moduleRef key="core"
                  include="add author cb choice corr date del gap head hi l lg name note num orig p pb publisher quote ref reg resp respStmt rs said sic textLang title unclear"/>
               <moduleRef key="header"
                  include="authority availability change correction edition editionStmt editorialDecl encodingDesc extent fileDesc handNote hyphenation idno language langUsage licence normalization profileDesc projectDesc publicationStmt punctuation revisionDesc segmentation sourceDesc teiHeader titleStmt particDesc settingDesc occupation"/>
               <moduleRef key="figures" include="figDesc figure"/>
               <moduleRef key="linking" include="anchor seg att.global.linking"/>
               <moduleRef key="msdescription"
                  include="acquisition altIdentifier binding bindingDesc condition decoDesc decoNote dimensions explicit foliation handDesc height history incipit layout layoutDesc locus locusGrp msContents msDesc msIdentifier msItem msItemStruct msName objectDesc origin physDesc repository rubric support supportDesc width"/>
               <moduleRef key="namesdates" 
                  include="country persName placeName settlement listPerson listPlace person place event"/>
               <moduleRef key="tei"/>
               <moduleRef key="textcrit" include="app lem listWit rdg rdgGrp witness"/>
               <moduleRef key="textstructure" include="TEI body text div"/>
               <moduleRef key="transcr" include="handNotes handShift subst supplied damage surplus"/>
               <moduleRef key="analysis" include="c"/>

               <!-- DÉFINITIONS ET MODIFICATIONS SPÉCIFIQUES -->

               <!-- Spécification de l'ordre dans teiHeader -->
               <elementSpec ident="teiHeader" module="header" mode="change">
                 <content>
                   <sequence>
                     <elementRef key="fileDesc"/>
                     <elementRef key="encodingDesc" minOccurs="0"/>
                     <elementRef key="profileDesc" minOccurs="0"/>
                     <elementRef key="revisionDesc" minOccurs="0"/>
                   </sequence>
                 </content>
               </elementSpec>

               <!-- Spécification du contenu de encodingDesc pour s'assurer qu'il est bien "fermé" avant profileDesc -->
               <elementSpec ident="encodingDesc" module="header" mode="change">
                   <content>
                       <sequence>
                           <elementRef key="projectDesc" minOccurs="0"/>
                           <elementRef key="editorialDecl" minOccurs="0"/>
                           <elementRef key="tagsDecl" minOccurs="0"/>
                           <elementRef key="refsDecl" minOccurs="0"/>
                           <elementRef key="classDecl" minOccurs="0"/>
                           <elementRef key="charDecl" minOccurs="0"/>
                           <elementRef key="styleDefDecl" minOccurs="0"/>
                           <elementRef key="variantEncoding" minOccurs="0"/>
                           <elementRef key="interpretation" minOccurs="0"/>
                           <elementRef key="normalization" minOccurs="0"/>
                           <elementRef key="quotation" minOccurs="0"/>
                           <elementRef key="hyphenation" minOccurs="0"/>
                           <elementRef key="stdVals" minOccurs="0"/>
                           <elementRef key="p" minOccurs="0" maxOccurs="unbounded"/>
                           <elementRef key="list" minOccurs="0" maxOccurs="unbounded"/>
                           <elementRef key="segmentation" minOccurs="0"/>
                           <elementRef key="metDecl" minOccurs="0"/>
                           <elementRef key="fsdDecl" minOccurs="0"/>
                           <elementRef key="appInfo" minOccurs="0" maxOccurs="unbounded"/>
                           <elementRef key="geoDecl" minOccurs="0"/>
                           <elementRef key="samplingDecl" minOccurs="0"/>
                           <elementRef key="schemaRef" minOccurs="0" maxOccurs="unbounded"/>
                           <elementRef key="prefixDef" minOccurs="0" maxOccurs="unbounded"/>
                           <elementRef key="listPrefixDef" minOccurs="0" maxOccurs="unbounded"/>
                           <elementRef key="scriptStmt" minOccurs="0" maxOccurs="unbounded"/>
                           <elementRef key="namespace" minOccurs="0" maxOccurs="unbounded"/>
                           <elementRef key="stdTrans" minOccurs="0" maxOccurs="unbounded"/>
                           <elementRef key="punctuation" minOccurs="0"/>
                       </sequence>
                   </content>
               </elementSpec>

               <!-- Spécification du contenu de profileDesc -->
               <elementSpec ident="profileDesc" module="header" mode="change">
                 <content>
                   <sequence>
                     <elementRef key="creation" minOccurs="0"/>
                     <elementRef key="langUsage" minOccurs="0" maxOccurs="unbounded"/>
                     <elementRef key="particDesc" minOccurs="0"/>
                     <elementRef key="settingDesc" minOccurs="0"/>
                     <elementRef key="calendarDesc" minOccurs="0"/>
                     <elementRef key="handNotes" minOccurs="0"/>
                     <elementRef key="textClass" minOccurs="0" maxOccurs="unbounded"/>
                     <elementRef key="correspDesc" minOccurs="0" maxOccurs="unbounded"/>
                     <elementRef key="abstract" minOccurs="0" maxOccurs="unbounded"/>
                     <!-- autres enfants permis par la TEI si besoin -->
                   </sequence>
                 </content>
               </elementSpec>

               <!-- Spécification du contenu de particDesc -->
               <elementSpec ident="particDesc" module="header" mode="change">
                 <content>
                   <elementRef key="listPerson" minOccurs="1" maxOccurs="unbounded"/>
                 </content>
               </elementSpec>

               <!-- Spécification du contenu de settingDesc -->
               <elementSpec ident="settingDesc" module="header" mode="change">
                 <content>
                   <elementRef key="listPlace" minOccurs="1" maxOccurs="unbounded"/>
                 </content>
               </elementSpec>

               <!-- Spécification du contenu de listPerson -->
               <elementSpec ident="listPerson" module="namesdates" mode="change">
                 <content>
                   <sequence>
                       <elementRef key="person" minOccurs="1" maxOccurs="unbounded"/>
                       <!-- head, p, etc. sont aussi permis -->
                   </sequence>
                 </content>
               </elementSpec>

               <!-- Spécification du contenu de person -->
               <elementSpec ident="person" module="namesdates" mode="change">
                 <content>
                     <alternate minOccurs="1" maxOccurs="unbounded">
                         <elementRef key="persName"/>
                         <elementRef key="occupation"/>
                         <elementRef key="note"/>
                         <elementRef key="event"/>
                         <elementRef key="p"/>
                     </alternate>
                 </content>
                 <attList>
                    <attDef ident="xml:id" mode="change" usage="opt">
                       <datatype>
                          <dataRef name="NMTOKEN"/>
                       </datatype>
                    </attDef>
                 </attList>
               </elementSpec>
               
               <!-- Spécification du contenu de event (assurant qu'il est bien déclaré) -->
                <elementSpec ident="event" module="core" mode="change">
                    <content>
                        <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
                    </content>
                </elementSpec>

               <!-- Spécification du contenu de occupation (assurant qu'il est bien déclaré) -->
               <elementSpec ident="occupation" module="header" mode="change">
                   <content>
                       <textNode/>
                        <elementRef key="person" minOccurs="0" maxOccurs="unbounded"/>
                        <elementRef key="persName" minOccurs="0" maxOccurs="unbounded"/>
                   </content>
               </elementSpec>

               <!-- Spécification du contenu de listPlace -->
               <elementSpec ident="listPlace" module="namesdates" mode="change">
                 <content>
                   <sequence>
                       <elementRef key="place" minOccurs="1" maxOccurs="unbounded"/>
                       <!-- head, p, etc. sont aussi permis -->
                   </sequence>
                 </content>
               </elementSpec>

               <!-- Spécification du contenu de place -->
               <elementSpec ident="place" module="namesdates" mode="change">
                 <content>
                     <sequence minOccurs="1" maxOccurs="unbounded">
                         <elementRef key="placeName"/>
                         <elementRef key="note" minOccurs="0" maxOccurs="unbounded"/>
                     </sequence>
                 </content>
                 <attList>
                    <attDef ident="xml:id" mode="change" usage="opt">
                       <datatype>
                          <dataRef name="NMTOKEN"/>
                       </datatype>
                    </attDef>
                 </attList>
               </elementSpec>

               <!-- Modifications pour les attributs de persName et placeName -->
               <elementSpec ident="persName" module="namesdates" mode="change">
                  <attList>
                     <attDef ident="key" mode="change" usage="opt"> <!-- Était req, changé à opt pour flexibilité -->
                        <valList type="open"/>
                     </attDef>
                      <attDef ident="ref" mode="change" usage="opt"> <!-- Était rec, changé à opt pour flexibilité générale -->
                        <valList type="open"/>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="placeName" module="namesdates" mode="change">
                  <desc>Indication des noms de lieux dans la narration sous cette balise en vue de l'index de lieux</desc>
                  <attList>
                     <attDef ident="key" mode="change" usage="opt"> <!-- Était rec, changé à opt -->
                        <valList type="open"/>
                     </attDef>
                      <attDef ident="ref" mode="change" usage="opt"> <!-- Était rec, changé à opt -->
                        <valList type="open"/>
                     </attDef>
                  </attList>
               </elementSpec>
               
               <!-- Assurer que <punctuation> est bien inclus dans <encodingDesc> -->
                <elementSpec ident="punctuation" module="header" mode="change">
                    <content>
                        <elementRef key="p" minOccurs="1" maxOccurs="unbounded"/>
                    </content>
                </elementSpec>

               <!-- Modifications pour les éléments déjà présents dans votre ODD -->
               <elementSpec ident="add" module="core" mode="change">
                  <attList>
                     <attDef ident="place" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="below"/><valItem ident="above"/><valItem ident="right margin"/><valItem ident="left margin"/><valItem ident="central margin"/><valItem ident="top margin"/><valItem ident="bottom margin"/><valItem ident="overleaf"/>
                        </valList>
                     </attDef>
                     <attDef ident="hand" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="#hand1"/><valItem ident="#hand2"/><valItem ident="#hand3"/><valItem ident="#hand4"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="cb" mode="change">
                  <attList>
                     <attDef ident="corresp" mode="delete"/><attDef ident="ana" mode="delete"/><attDef ident="facs" mode="delete"/><attDef ident="type" mode="delete"/>
                     <attDef ident="n" mode="change" usage="req"/>
                  </attList>
               </elementSpec>
               <elementSpec ident="choice" mode="change">
                  <model predicate="sic and corr" behaviour="alternate">
                     <param name="default" value="corr[@cert='low']"/><param name="alternate" value="sic"/>
                  </model>
                  <model predicate="orig and reg" behaviour="alternate">
                     <param name="default" value="reg"/><param name="alternate" value="orig"/>
                  </model>
               </elementSpec>
               <elementSpec ident="corr" module="core" mode="change">
                  <attList>
                     <attDef ident="resp" mode="replace" usage="req">
                        <valList type="closed"><valItem ident="#FPZ"/></valList>
                     </attDef>
                     <attDef ident="cert" mode="replace" usage="req">
                        <valList type="closed"><valItem ident="high"/><valItem ident="low"/></valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="del" module="core" mode="change">
                  <attList>
                     <attDef ident="type" mode="replace" usage="req">
                        <valList type="closed"><valItem ident="exponctuation"/><valItem ident="scraped"/></valList>
                     </attDef>
                     <attDef ident="hand" mode="replace" usage="req">
                        <valList type="closed"><valItem ident="#hand1"/><valItem ident="#hand2"/><valItem ident="#hand3"/></valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="gap" module="core" mode="change">
                  <attList>
                     <attDef ident="reason" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="lost"><desc> The material is entirely gone, i.e. there is no physical carrier to bear text information any more. </desc></valItem>
                           <valItem ident="effaced"><desc> Any physical harm to the surface that entirely ereases information </desc></valItem>
                           <valItem ident="illegible"> </valItem>
                           <valItem ident="unknown"><desc>Where the type of gap is unknown.</desc></valItem>
                        </valList>
                     </attDef>
                     <attDef ident="extent" mode="change" usage="req"><valList type="open"/></attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="head" module="core" mode="change">
                  <attList>
                     <attDef ident="type" mode="replace" usage="opt">
                        <valList type="closed"><valItem ident="rubrique"/><valItem ident="explicit"/></valList>
                     </attDef>
                     <attDef ident="n" mode="change" usage="opt"/>
                  </attList>
               </elementSpec>
               <elementSpec ident="hi" mode="change">
                  <attList>
                     <attDef ident="corresp" mode="delete"/><attDef ident="ana" mode="delete"/><attDef ident="facs" mode="delete"/>
                     <attDef ident="rend" mode="replace" usage="req">
                        <valList mode="add" type="closed">
                           <valItem ident="rubricated"/><valItem ident="decorated-initial 2 red"/><valItem ident="decorated-initial 3 red"/><valItem ident="decorated-initial 4 red"/><valItem ident="decorated-initial 5 red"/><valItem ident="decorated-initial 6 red"/><valItem ident="decorated-initial 7 red"/><valItem ident="decorated-initial 8 red"/><valItem ident="decorated-initial 9 red"/><valItem ident="decorated-initial 2 blue"/><valItem ident="decorated-initial 3 blue"/><valItem ident="decorated-initial 4 blue"/><valItem ident="decorated-initial 5 blue"/><valItem ident="decorated-initial 6 blue"/><valItem ident="decorated-initial 7 blue"/><valItem ident="decorated-initial 8 blue"/><valItem ident="decorated-initial 9 blue"/><valItem ident="decorated-initial 11 red"/><valItem ident="italic"/><valItem ident="title"/><valItem ident="exp"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="name" module="core" mode="change">
                  <attList>
                     <attDef ident="type" mode="change" usage="req">
                        <valList type="closed"><valItem ident="people"/></valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="quote" module="core" mode="change">
                  <attList>
                     <attDef ident="type" mode="replace" usage="req">
                        <valList type="closed"><valItem ident="proverbe"/></valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="note" module="core" mode="change">
                  <attList>
                     <attDef ident="type" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="note_apparat"/><valItem ident="note_travail"/><valItem ident="note_commentaire"/><valItem ident="note_langue"/><valItem ident="note_glossaire"/><valItem ident="tei-header"/><valItem ident="relationships"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="orig" mode="change">
                  <attList>
                     <attDef ident="corresp" mode="delete"/><attDef ident="ana" mode="delete"/><attDef ident="facs" mode="delete"/>
                  </attList>
               </elementSpec>
               <elementSpec ident="p" module="core" mode="change">
                  <constraintSpec ident="p_n_check" scheme="schematron">
                     <constraint>
                        <sch:rule context="tei:text//tei:p">
                           <sch:assert test="@n" role="error">Please add a @n attribute</sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec>
               </elementSpec>
               <elementSpec ident="pb" mode="change">
                  <attList>
                     <attDef ident="corresp" mode="delete"/><attDef ident="ana" mode="delete"/><attDef ident="type" mode="delete"/>
                     <attDef ident="n" mode="change" usage="req"><valList type="open"/></attDef>
                     <attDef ident="facs" mode="change" usage="req"><valList type="open"/></attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="reg" mode="change">
                  <gloss>Régularisation</gloss>
                  <desc xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">permet d'encoder la forme régularisée.</desc>
                  <attList>
                     <attDef ident="corresp" mode="delete"/><attDef ident="ana" mode="delete"/><attDef ident="facs" mode="delete"/><attDef ident="unit" mode="delete"/><attDef ident="type" mode="delete"/>
                  </attList>
               </elementSpec>
               <elementSpec ident="respStmt" module="core" mode="change">
                  <content>
                     <sequence><elementRef key="resp" minOccurs="1" maxOccurs="1"/><elementRef key="name" minOccurs="1" maxOccurs="1"/></sequence>
                  </content>
               </elementSpec>
               <elementSpec ident="rs" module="core" mode="change">
                  <attList>
                     <attDef ident="type" mode="replace" usage="req">
                        <valList type="closed"><valItem ident="person"/><valItem ident="place"/></valList>
                     </attDef>
                     <attDef ident="key" mode="change" usage="req"><valList type="open"/></attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="said" mode="change">
                  <constraintSpec ident="narrator" scheme="schematron"/>
                  <constraintSpec ident="character_aloud" scheme="schematron">
                     <constraint>
                        <sch:rule context="tei:said[./not(@who)]">
                           <sch:assert test="./@aloud">Aloud est obligatoire si c'est un personnage qui parle qui parle</sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec>
                  <constraintSpec ident="character_direct1" scheme="schematron">
                     <constraint>
                        <sch:rule context="tei:said[./not(@who)]">
                           <sch:assert test="./@direct">Direct est obligatoire si c'est un personnage qui parle qui parle</sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec>
                  <attList>
                     <attDef ident="aloud" mode="replace" usage="rec">
                        <valList type="closed"><valItem ident="true"/><valItem ident="false"/></valList>
                     </attDef>
                     <attDef ident="direct" mode="replace" usage="rec">
                        <valList type="closed"><valItem ident="true"/><valItem ident="false"/></valList>
                     </attDef>
                     <attDef ident="who" mode="replace" usage="opt">
                        <valList type="closed" mode="replace"><valItem ident="#nar"/></valList>
                     </attDef>
                     <attDef ident="rendition" mode="replace" usage="opt">
                        <valList type="closed" mode="replace"><valItem ident="dialogue"/></valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="sic" mode="change">
                  <attList>
                     <attDef ident="corresp" mode="delete"/><attDef ident="ana" mode="delete"/><attDef ident="facs" mode="delete"/>
                  </attList>
               </elementSpec>
               <elementSpec ident="unclear" module="core" mode="change">
                  <attList>
                     <attDef ident="reason" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="acertain"/><valItem ident="erased"/><valItem ident="faded"/><valItem ident="fold"/><valItem ident="hole"/><valItem ident="rewritten"/><valItem ident="transparence"/><valItem ident="stain"/><valItem ident="stitching"/>
                        </valList>
                     </attDef>
                     <attDef ident="agent" mode="replace" usage="opt">
                        <valList type="closed"><valItem ident="smoke"/><valItem ident="mildew"/><valItem ident="rubbing"/><valItem ident="copist"/></valList>
                     </attDef>
                     <attDef ident="cert" mode="replace" usage="req">
                        <valList type="closed"><valItem ident="high"/><valItem ident="medium"/><valItem ident="low"/><valItem ident="unknown"/></valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="editionStmt" module="header" mode="change">
                  <content>
                     <sequence><elementRef key="edition" minOccurs="1" maxOccurs="1"/><elementRef key="respStmt" minOccurs="5" maxOccurs="15"/></sequence>
                  </content>
               </elementSpec>
               <elementSpec ident="edition" module="header" mode="change">
                  <attList>
                     <attDef ident="key" mode="change" usage="req"><valList type="open"/></attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="publicationStmt" module="header" mode="change">
                  <content>
                     <sequence><elementRef key="authority" minOccurs="1" maxOccurs="2"/><elementRef key="publisher" minOccurs="1" maxOccurs="1"/><elementRef key="availability" minOccurs="1" maxOccurs="1"/><elementRef key="date" minOccurs="1" maxOccurs="15"/><elementRef key="extent" minOccurs="1" maxOccurs="15"/></sequence>
                  </content>
               </elementSpec>
               <elementSpec ident="seg" module="linking" mode="change">
                  <attList>
                     <attDef ident="ana" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="proverbe"/><valItem ident="discoursEnchassé"/><valItem ident="lettre"/><valItem ident="chanson"/><valItem ident="divergences"/>
                        </valList>
                     </attDef>
                     <attDef ident="rendition" mode="replace" usage="opt">
                        <valList type="closed" mode="replace"><valItem ident="dialogue"/></valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="altIdentifier" module="msdescription" mode="change">
                  <content>
                     <elementRef key="idno" minOccurs="1" maxOccurs="2"/>
                  </content>
               </elementSpec>
               <elementSpec ident="msDesc" module="msdescription" mode="change">
                  <content>
                     <sequence><elementRef key="msIdentifier" minOccurs="1" maxOccurs="1"/><elementRef key="head"/><elementRef key="p"/><elementRef key="msContents" minOccurs="1" maxOccurs="1"/><elementRef key="physDesc" minOccurs="1" maxOccurs="1"/><elementRef key="history" minOccurs="1" maxOccurs="1"/></sequence>
                  </content>
               </elementSpec>
               <elementSpec ident="handDesc" module="msdescription" mode="change">
                  <content>
                     <sequence><elementRef key="p"/><elementRef key="handNote" minOccurs="3" maxOccurs="3"/></sequence>
                  </content>
               </elementSpec>
               <elementSpec ident="supplied" mode="change" module="transcr">
                  <attList>
                     <attDef ident="reason" mode="replace" usage="req">
                        <valList type="closed"><valItem ident="damage"/><valItem ident="omitted"/><valItem ident="missing"/></valList>
                     </attDef>
                     <attDef ident="cert" mode="replace" usage="opt">
                        <valList type="closed"><valItem ident="low"/><valItem ident="medium"/><valItem ident="high"/></valList>
                     </attDef>
                  </attList>
               </elementSpec>
               <elementSpec ident="surplus" mode="change" module="transcr">
                  <attList>
                     <attDef ident="reason" mode="replace" usage="req">
                        <valList type="closed"><valItem ident="repeated"/><valItem ident="syntaxe"/><valItem ident="morphologie"/></valList>
                     </attDef>
                  </attList>
               </elementSpec>
            </schemaSpec>
         </div>
      </body>
   </text>
</TEI>