xml_tei/Kanor - ODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
   xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0"
   xmlns:s="http://purl.oclc.org/dsdl/schematron" xmlns:sch="http://purl.oclc.org/dsdl/schematron">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>Roman de Kanor - ODD</title>
         </titleStmt>
         <publicationStmt>
            <authority>UniGE (Université de Genève, Suisse)</authority>
            <authority>Lyon-II (Université Lumière-Lyon-II, France)</authority>
            <availability status="restricted">
               <licence>Usage pour les membres de l'équipe.</licence>
            </availability>
         </publicationStmt>

         <sourceDesc>
            <p>Le texte édité provient du manuscrit C (BnF fr.1446). Il contient deux oeuvres qui
               appartiennent aux continuation du Cycle des Sept Sages de Rome : une version de la
               fin du <hi>roman de Pelyarmenus</hi>, qui compte pour un tiers du manuscript, et une
               version remaniée du <hi>roman de Kanor</hi>. Le <hi>Pelyarmenus</hi> et le
                  <hi>Kanor</hi> peuvent être lus dans quatre autres manuscrits, ici référencés V2
               (BnF fr.22549) et V3 (BnF fr.22550), B (KBR 9245), X2 (BL Harley 4903) et G (BnF
               fr.93). Le manuscrit B est celui qui se rapproche le plus du nôtre en termes de
               variantes pour la partie Pelyarmenus (à compléter ensuite). Notons également la
               source M, miniatures avec texte au dos (Musée de Reims cadre 882, III-VI).</p>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>

         <div>
            <head> L'ODD </head>
            <schemaSpec ident="septSages" start="TEI">

               <!-- Inclut le module "core" qui contient des éléments de base pour la structuration du texte. -->
               <moduleRef key="core"
                  include="add author cb choice corr date del gap head hi l lg name note num orig p pb publisher quote ref reg resp respStmt rs said sic textLang title unclear"/>

               <!-- Inclut le module "header" qui contient des éléments pour la description de l'encodage et la déclaration éditoriale. -->
               <moduleRef key="header"
                  include="authority availability change correction edition editionStmt editorialDecl encodingDesc extent fileDesc handNote hyphenation idno language langUsage licence normalization profileDesc projectDesc publicationStmt punctuation revisionDesc segmentation sourceDesc teiHeader titleStmt"/>

               <!-- Inclut le module "figures" qui contient des éléments pour la description des figures. -->
               <moduleRef key="figures" include="figDesc figure"/>

               <!-- Inclut le module "linking" qui contient des éléments pour la création de liens et de segments. -->
               <moduleRef key="linking" include="anchor seg att.global.linking"/>

               <!-- Inclut le module "msdescription" qui contient des éléments pour la description des manuscrits. -->
               <moduleRef key="msdescription"
                  include="acquisition altIdentifier binding bindingDesc condition decoDesc decoNote dimensions explicit foliation handDesc height history incipit layout layoutDesc locus locusGrp msContents msDesc msIdentifier msItem msItemStruct msName objectDesc origin physDesc repository rubric support supportDesc width"/>

               <!-- Inclut le module "namesdates" qui contient des éléments pour les noms de personnes, de lieux, de pays et de colonies. -->
               <moduleRef key="namesdates" include="country persName placeName settlement"/>

               <!-- Inclut tous les éléments du module "tei". -->
               <moduleRef key="tei"/>

               <!-- Inclut le module "textcrit" qui contient des éléments pour la critique textuelle. -->
               <moduleRef key="textcrit" include="app lem listWit rdg rdgGrp witness"/>

               <!-- Inclut le module "textstructure" qui contient des éléments pour la structuration du texte. -->
               <moduleRef key="textstructure" include="TEI body text div"/>

               <!-- Inclut le module "transcr" qui contient des éléments pour la transcription. -->
               <moduleRef key="transcr" include="handNotes handShift subst supplied damage surplus"/>

               <!-- Inclut le module "analysis" qui contient des éléments pour l'analyse. -->
               <moduleRef key="analysis" include="c"/>

               <!-- ICI COMMENCE LA DÉFINITION DES ÉLÉMENTS -->

               <!-- éléments du module CORE -->

               <elementSpec ident="add" module="core" mode="change">
                  <attList>
                     <attDef ident="place" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="below"/>
                           <valItem ident="above"/>
                           <valItem ident="right margin"/>
                           <valItem ident="left margin"/>
                           <valItem ident="central margin"/>
                           <valItem ident="top margin"/>
                           <valItem ident="bottom margin"/>
                           <valItem ident="overleaf"/>
                        </valList>
                     </attDef>
                     <attDef ident="hand" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="#hand1"/>
                           <valItem ident="#hand2"/>
                           <valItem ident="#hand3"/>
                           <valItem ident="#hand4"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="cb" mode="change">
                  <attList>
                     <attDef ident="corresp" mode="delete"/>
                     <attDef ident="ana" mode="delete"/>
                     <attDef ident="facs" mode="delete"/>
                     <attDef ident="type" mode="delete"/>
                     <attDef ident="n" mode="change" usage="req"/>
                  </attList>
               </elementSpec>

               <elementSpec ident="choice" mode="change">
                  <!--  sic (Graphie originale mais fautive) permet d'encoder la forme originale du manuscrit tout en signalant que
cette dernière est fautive
                        corr (Correction) permet de signaler les corrections apportées au texte
                        -> processus d'édition critique -->
                  <model predicate="sic and corr" behaviour="alternate">
                     <param name="default" value="corr[@cert='low']"/>
                     <param name="alternate" value="sic"/>
                  </model>

                  <!--  orig (Original) permet d'encoder la forme originale du manuscrit.
                        reg (Régularisation) permet d'encoder la forme régularisée.
                        -> processus de normalisation -->
                  <model predicate="orig and reg" behaviour="alternate">
                     <param name="default" value="reg"/>
                     <param name="alternate" value="orig"/>
                  </model>
               </elementSpec>

               <elementSpec ident="corr" module="core" mode="change">
                  <attList>
                     <attDef ident="resp" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="#FPZ"/>
                        </valList>
                     </attDef>
                     <attDef ident="cert" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="high"/>
                           <valItem ident="low"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="del" module="core" mode="change">
                  <attList>
                     <attDef ident="type" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="exponctuation"/>
                           <valItem ident="scraped"/>
                        </valList>
                     </attDef>
                     <attDef ident="hand" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="#hand1"/>
                           <valItem ident="#hand2"/>
                           <valItem ident="#hand3"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="gap" module="core" mode="change">
                  <attList>
                     <attDef ident="reason" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="lost">
                              <desc> The material is entirely gone, i.e. there is no physical
                                 carrier to bear text information any more. </desc>
                           </valItem>
                           <valItem ident="effaced">
                              <desc> Any physical harm to the surface that entirely ereases
                                 information </desc>
                           </valItem>
                           <valItem ident="illegible"> </valItem>
                           <valItem ident="unknown">
                              <desc>Where the type of gap is unknown.</desc>
                           </valItem>
                        </valList>
                     </attDef>
                     <attDef ident="extent" mode="change" usage="req">
                        <valList type="open"/>
                     </attDef>
                  </attList>
               </elementSpec>



               <!-- SE DÉCIDER -->
               <elementSpec ident="head" module="core" mode="change">
                  <attList>
                     <attDef ident="type" mode="replace" usage="opt">
                        <valList type="closed">
                           <valItem ident="rubrique"/>
                           <valItem ident="explicit"/>
                        </valList>
                     </attDef>
                     <attDef ident="n" mode="change" usage="opt"/>
                  </attList>
               </elementSpec>

               <!-- SE DÉCIDER -->
               <elementSpec ident="hi" mode="change">
                  <attList>
                     <attDef ident="corresp" mode="delete"/>
                     <attDef ident="ana" mode="delete"/>
                     <attDef ident="facs" mode="delete"/>
                     <attDef ident="rend" mode="replace" usage="req">
                        <valList mode="add" type="closed">
                           <valItem ident="rubricated"/>
                           <valItem ident="decorated-initial 2 red"/>
                           <valItem ident="decorated-initial 3 red"/>
                           <valItem ident="decorated-initial 4 red"/>
                           <valItem ident="decorated-initial 5 red"/>
                           <valItem ident="decorated-initial 6 red"/>
                           <valItem ident="decorated-initial 7 red"/>
                           <valItem ident="decorated-initial 8 red"/>
                           <valItem ident="decorated-initial 9 red"/>
                           <valItem ident="decorated-initial 2 blue"/>
                           <valItem ident="decorated-initial 3 blue"/>
                           <valItem ident="decorated-initial 4 blue"/>
                           <valItem ident="decorated-initial 5 blue"/>
                           <valItem ident="decorated-initial 6 blue"/>
                           <valItem ident="decorated-initial 7 blue"/>
                           <valItem ident="decorated-initial 8 blue"/>
                           <valItem ident="decorated-initial 9 blue"/>
                           <valItem ident="decorated-initial 11 red"/>
                           <valItem ident="italic"/>
                           <valItem ident="title"/>
                           <valItem ident="exp"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="name" module="core" mode="change">
                  <attList>
                     <attDef ident="type" mode="change" usage="req">
                        <valList type="closed">
                           <valItem ident="people"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>


               <elementSpec ident="quote" module="core" mode="change">
                  <attList>
                     <attDef ident="type" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="proverbe"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <!-- ajout d'une note : sa nature -->
               <elementSpec ident="note" module="core" mode="change">
                  <attList>
                     <attDef ident="type" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="note_apparat"/>
                           <valItem ident="note_travail"/>
                           <valItem ident="note_commentaire"/>
                           <valItem ident="note_langue"/>
                           <valItem ident="note_glossaire"/>
                           <valItem ident="tei-header"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="orig" mode="change">
                  <attList>
                     <attDef ident="corresp" mode="delete"/>
                     <attDef ident="ana" mode="delete"/>
                     <attDef ident="facs" mode="delete"/>
                  </attList>
               </elementSpec>


               <elementSpec ident="p" module="core" mode="change">
                  <constraintSpec ident="p_n_check" scheme="schematron">
                     <constraint>
                        <sch:rule context="tei:text//tei:p">
                           <sch:assert test="@n" role="error">Please add a @n attribute</sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec>
               </elementSpec>

               <elementSpec ident="pb" mode="change">
                  <attList>
                     <attDef ident="corresp" mode="delete"/>
                     <attDef ident="ana" mode="delete"/>
                     <attDef ident="type" mode="delete"/>
                     <attDef ident="n" mode="change" usage="req">
                        <valList type="open"/>
                     </attDef>
                     <attDef ident="facs" mode="change" usage="req">
                        <valList type="open"/>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="reg" mode="change">
                  <gloss>Régularisation</gloss>
                  <desc xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">permet
                     d'encoder la forme régularisée.</desc>
                  <attList>
                     <attDef ident="corresp" mode="delete"/>
                     <attDef ident="ana" mode="delete"/>
                     <attDef ident="facs" mode="delete"/>
                     <attDef ident="unit" mode="delete"/>
                     <attDef ident="type" mode="delete"/>
                  </attList>
               </elementSpec>


               <elementSpec ident="respStmt" module="core" mode="change">
                  <content>
                     <sequence>
                        <elementRef key="resp" minOccurs="1" maxOccurs="1"/>
                        <elementRef key="name" minOccurs="1" maxOccurs="1"/>
                     </sequence>
                  </content>
               </elementSpec>

               <elementSpec ident="rs" module="core" mode="change">
                  <attList>
                     <attDef ident="type" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="person"/>
                           <valItem ident="place"/>
                        </valList>
                     </attDef>
                     <attDef ident="key" mode="change" usage="req">
                        <valList type="open"/>
                     </attDef>
                  </attList>
               </elementSpec>


               <elementSpec ident="said" mode="change">
                  <constraintSpec ident="narrator" scheme="schematron">
                     <!-- <constraint>
                <sch:rule context="tei:said[./@who]">
                  <sch:assert test="not(./@direct)">Direct est interdit si c'est le narrateur qui parle</sch:assert>
                </sch:rule>
              </constraint>
            </constraintSpec>
            <constraintSpec ident="narrator2" scheme="schematron">
              <constraint>
                <sch:rule context="tei:said[./@who]">
                  <sch:assert test="not(./@aloud)">Aloud est interdit si c'est le narrateur qui parle</sch:assert>
                </sch:rule>
              </constraint>-->
                  </constraintSpec>
                  <constraintSpec ident="character_aloud" scheme="schematron">
                     <constraint>
                        <sch:rule context="tei:said[./not(@who)]">
                           <sch:assert test="./@aloud">Aloud est obligatoire si c'est un personnage
                              qui parle qui parle</sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec>
                  <constraintSpec ident="character_direct1" scheme="schematron">
                     <constraint>
                        <sch:rule context="tei:said[./not(@who)]">
                           <sch:assert test="./@direct">Direct est obligatoire si c'est un
                              personnage qui parle qui parle</sch:assert>
                        </sch:rule>
                     </constraint>
                  </constraintSpec>
                  <attList>
                     <attDef ident="aloud" mode="replace" usage="rec">
                        <valList type="closed">
                           <valItem ident="true"/>
                           <valItem ident="false"/>
                        </valList>
                     </attDef>
                     <attDef ident="direct" mode="replace" usage="rec">
                        <valList type="closed">
                           <valItem ident="true"/>
                           <valItem ident="false"/>
                        </valList>
                     </attDef>
                     <attDef ident="who" mode="replace" usage="opt">
                        <valList type="closed" mode="replace">
                           <valItem ident="#nar"/>
                        </valList>
                     </attDef>
                     <attDef ident="rendition" mode="replace" usage="opt">
                        <valList type="closed" mode="replace">
                           <valItem ident="dialogue"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="sic" mode="change">
                  <attList>
                     <attDef ident="corresp" mode="delete"/>
                     <attDef ident="ana" mode="delete"/>
                     <attDef ident="facs" mode="delete"/>
                  </attList>
               </elementSpec>

               <!-- TITLE ICI -->

               <!-- On utilise la balise <unclear> pour son usage TEI officiel
               mais aussi, dans une certaine mesure, pour sa proximité avec <certainty>. L'incertitude
               est considérée ici comme étant celle de l'éditeur, par manque de compétence quelle qu'elle soit.
               L'incertitude pouvant découler de l'absence de clarté, on en a fait une raison à fin formative. -->

               <elementSpec ident="unclear" module="core" mode="change">
                  <attList>
                     <attDef ident="reason" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="acertain"/>
                           <valItem ident="erased"/>
                           <valItem ident="faded"/>
                           <valItem ident="fold"/>
                           <valItem ident="hole"/>
                           <valItem ident="rewritten"/>
                           <valItem ident="transparence"/>
                           <valItem ident="stain"/>
                           <valItem ident="stitching"/>
                        </valList>



                     </attDef>
                     <attDef ident="agent" mode="replace" usage="opt">
                        <valList type="closed">
                           <valItem ident="smoke"/>
                           <valItem ident="mildew"/>
                           <valItem ident="rubbing"/>
                           <valItem ident="copist"/>
                        </valList>
                     </attDef>
                     <attDef ident="cert" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="high"/>
                           <valItem ident="medium"/>
                           <valItem ident="low"/>
                           <valItem ident="unknown"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>
















               <!-- éléments du module HEADER -->

               <elementSpec ident="editionStmt" module="header" mode="change">
                  <content>
                     <sequence>
                        <elementRef key="edition" minOccurs="1" maxOccurs="1"/>
                        <elementRef key="respStmt" minOccurs="5" maxOccurs="15"/>
                     </sequence>
                  </content>
               </elementSpec>

               <elementSpec ident="edition" module="header" mode="change">
                  <attList>
                     <attDef ident="key" mode="change" usage="req">
                        <valList type="open"/>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="publicationStmt" module="header" mode="change">
                  <content>
                     <sequence>
                        <elementRef key="authority" minOccurs="1" maxOccurs="2"/>
                        <elementRef key="publisher" minOccurs="1" maxOccurs="1"/>
                        <elementRef key="availability" minOccurs="1" maxOccurs="1"/>
                        <elementRef key="date" minOccurs="1" maxOccurs="15"/>
                        <elementRef key="extent" minOccurs="1" maxOccurs="15"/>
                     </sequence>
                  </content>
               </elementSpec>



               <!-- éléments du module FIGURES -->
               <!-- éléments du module LINKING -->
               <elementSpec ident="seg" module="linking" mode="change">
                  <attList>
                     <attDef ident="ana" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="proverbe"/>
                           <valItem ident="discoursEnchassé"/>
                           <valItem ident="lettre"/>
                           <valItem ident="chanson"/>
                           <valItem ident="divergences"/>
                        </valList>
                     </attDef>
                     <attDef ident="rendition" mode="replace" usage="opt">
                        <valList type="closed" mode="replace">
                           <valItem ident="dialogue"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <!-- éléments du module MSDESCRIPTION -->

               <elementSpec ident="altIdentifier" module="msdescription" mode="change">
                  <content>
                     <elementRef key="idno" minOccurs="1" maxOccurs="2"/>
                  </content>
               </elementSpec>

               <elementSpec ident="msDesc" module="msdescription" mode="change">
                  <content>
                     <sequence>
                        <elementRef key="msIdentifier" minOccurs="1" maxOccurs="1"/>
                        <elementRef key="head"/>
                        <elementRef key="p"/>
                        <elementRef key="msContents" minOccurs="1" maxOccurs="1"/>
                        <elementRef key="physDesc" minOccurs="1" maxOccurs="1"/>
                        <elementRef key="history" minOccurs="1" maxOccurs="1"/>
                     </sequence>
                  </content>
               </elementSpec>


               <elementSpec ident="handDesc" module="msdescription" mode="change">
                  <content>
                     <sequence>
                        <elementRef key="p"/>
                        <elementRef key="handNote" minOccurs="3" maxOccurs="3"/>
                     </sequence>
                  </content>
               </elementSpec>





               <!-- éléments du module NAMESDATE -->

               <elementSpec ident="persName" module="namesdates" mode="change">
                  <attList>
                     <attDef ident="key" mode="change" usage="req">
                        <valList type="open"/>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="placeName" module="namesdates" mode="change">
                  <desc>Indication des noms de lieux dans la narration sous cette balise en vue de
                     l'index de lieux</desc>
                  <attList>
                     <attDef ident="key" mode="change" usage="req">
                        <valList type="open"/>
                     </attDef>
                  </attList>
               </elementSpec>


               <!-- éléments du module TEI -->
               <!-- éléments du module TEXTCRIT -->
               <!-- éléments du module TEXTSCTRUCTURE -->
               <!-- éléments du module TRANSCR -->

               <elementSpec ident="supplied" mode="change" module="transcr">
                  <attList>
                     <attDef ident="reason" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="damage"/>
                           <valItem ident="omitted"/>
                           <valItem ident="missing"/>
                        </valList>
                     </attDef>
                     <!--  <attDef ident="source" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="#B"/>
                           <valItem ident="#McMunn"/>
                           <valItem ident="#FPZ"/>
                        </valList>
                     </attDef>-->
                     <attDef ident="cert" mode="replace" usage="opt">
                        <valList type="closed">
                           <valItem ident="low"/>
                           <valItem ident="medium"/>
                           <valItem ident="high"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec ident="surplus" mode="change" module="transcr">
                  <attList>
                     <attDef ident="reason" mode="replace" usage="req">
                        <valList type="closed">
                           <valItem ident="repeated"/>
                           <valItem ident="syntaxe"/>
                           <valItem ident="morpho"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <!-- éléments du module ANALYSIS -->










            </schemaSpec>



         </div>
      </body>
   </text>
</TEI>
